In [183]:
import os
import pandas as pd
import numpy as np
import datetime
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
from pathlib import Path

In [184]:
cwd =  Path.cwd()
cwd = cwd.parents[0]
folder = cwd /'Data'/'IBActivity'

tables = cwd / 'Data'/'Tables'
tables

WindowsPath('d:/Javier/SynologyDrive/Portfolio Python 2/Data/Tables')

In [185]:
trades = pd.read_csv(tables/'tables_Trades.csv')
trades['Date/Time'] = pd.to_datetime(trades['Date/Time'])
trades

,Unnamed: 0,Asset Category,Currency,Symbol,Date/Time,Quantity,T. Price,Proceeds,Comm/Fee,Quantity_Rsum
0,45,Stocks,USD,GLD,2017-01-19 10:56:05,20.0000,114.14000,-2282.800000,-1.000000,20.0000
1,45,Stocks,USD,GLD,2017-01-20 09:47:28,6.0000,114.46990,-686.819400,-1.000000,26.0000
2,48,Stocks,USD,SBUX,2017-02-21 09:44:20,10.0000,57.79930,-577.993000,-1.000000,10.0000
3,56,Equity and Index Options,USD,WFM 19MAY17 28.0 P,2017-03-10 09:45:39,-1.0000,0.86000,86.000000,-0.756975,-1.0000
4,59,Equity and Index Options,USD,MTCH 21APR17 17.5 P,2017-03-14 09:34:00,-1.0000,1.15000,115.000000,-1.097607,-1.0000
...,...,...,...,...,...,...,...,...,...,...
1307,491,Equity and Index Options,USD,UVXY 21JAN22 50.0 C,2019-09-23 10:19:19,-1.0000,9.40000,940.000000,-0.814358,-1.0000
1308,471,Stocks,USD,CEFL,2019-09-24 10:00:11,2.0000,14.30000,-28.600000,-1.000000,121.0000
1309,473,Stocks,USD,XOP,2019-09-24 09:30:00,100.0000,23.58000,-2358.000000,-1.000000,0.0000
1310,1013,Forex,HKD,EUR.HKD,2019-09-29 22:50:30,13998.0000,8.57250,-119997.855000,-2.000000,108339.0000
1311,1012,Forex,HKD,USD.HKD,2019-10-01 18:00:34,0.2734,7.84295,-2.144263,0.000000,60904.4444

In [262]:
min_date = datetime.datetime(2017, 2, 8)
max_date = datetime.datetime(2020, 2, 5)
#max_date = max(trades['Date/Time']).date()
min_date, max_date

(datetime.datetime(2017, 2, 8, 0, 0), datetime.datetime(2020, 2, 5, 0, 0))

In [263]:
# Date Ranges for SP 500 and for all tickers
# Modify these date ranges each week.

# The below will pull back stock prices from 2010 until end date specified.
# start_sp = datetime.datetime(2017, 1, 1)
# end_sp = datetime.datetime(2020, 2, 7)

start_sp = min_date
end_sp = max_date

# This variable is used for YTD performance.
end_of_last_year = datetime.datetime(2019, 12, 31)

# These are separate if for some reason want different date range than SP.
# stocks_start = datetime.datetime(2017, 1, 1)
# stocks_end = datetime.datetime(2020, 2, 7)

stocks_start = min_date
stocks_end = max_date

In [264]:
yf.pdr_override() # <== that's all it takes :-)
sp500 = pdr.get_data_yahoo('^GSPC', 
                           start_sp,
                             end_sp)
    
sp500.head()

[*********************100%***********************]  1 of 1 downloaded

               Open     High      Low    Close  Adj Close      Volume
Date
2017-02-07  2295.87  2299.40  2290.16  2293.08    2293.08  3448690000
2017-02-08  2289.55  2295.91  2285.38  2294.67    2294.67  3609740000
2017-02-09  2296.70  2311.08  2296.61  2307.87    2307.87  3677940000
2017-02-10  2312.27  2319.23  2311.10  2316.10    2316.10  3475020000
2017-02-13  2321.72  2331.58  2321.42  2328.25    2328.25  3349730000

In [251]:
#sp500
#sp500 = sp500.resample('BM').last()

In [265]:
sp500 = sp500['Adj Close'].reset_index()

In [266]:
sp500

          Date  Adj Close
0   2017-02-07    2293.08
1   2017-02-08    2294.67
2   2017-02-09    2307.87
3   2017-02-10    2316.10
4   2017-02-13    2328.25
..         ...        ...
748 2020-01-29    3273.40
749 2020-01-30    3283.66
750 2020-01-31    3225.52
751 2020-02-03    3248.92
752 2020-02-04    3297.59

[753 rows x 2 columns]

In [267]:
sp500['Shift'] = sp500['Adj Close'].shift()

In [268]:
sp500['diff'] = sp500['Adj Close'].diff()

In [269]:
sp500

          Date  Adj Close    Shift   diff
0   2017-02-07    2293.08      NaN    NaN
1   2017-02-08    2294.67  2293.08   1.59
2   2017-02-09    2307.87  2294.67  13.20
3   2017-02-10    2316.10  2307.87   8.23
4   2017-02-13    2328.25  2316.10  12.15
..         ...        ...      ...    ...
748 2020-01-29    3273.40  3276.24  -2.84
749 2020-01-30    3283.66  3273.40  10.26
750 2020-01-31    3225.52  3283.66 -58.14
751 2020-02-03    3248.92  3225.52  23.40
752 2020-02-04    3297.59  3248.92  48.67

[753 rows x 4 columns]

In [270]:
#sp500['SubReturn'] = 1 + (sp500['diff'] / sp500['Adj Close'])
sp500['SubReturn'] = 1 +(sp500['Adj Close']-sp500['Shift'])/sp500['Adj Close']

In [271]:
sp500

          Date  Adj Close    Shift   diff  SubReturn
0   2017-02-07    2293.08      NaN    NaN        NaN
1   2017-02-08    2294.67  2293.08   1.59   1.000693
2   2017-02-09    2307.87  2294.67  13.20   1.005720
3   2017-02-10    2316.10  2307.87   8.23   1.003553
4   2017-02-13    2328.25  2316.10  12.15   1.005219
..         ...        ...      ...    ...        ...
748 2020-01-29    3273.40  3276.24  -2.84   0.999132
749 2020-01-30    3283.66  3273.40  10.26   1.003125
750 2020-01-31    3225.52  3283.66 -58.14   0.981975
751 2020-02-03    3248.92  3225.52  23.40   1.007202
752 2020-02-04    3297.59  3248.92  48.67   1.014759

[753 rows x 5 columns]

In [209]:
sp500TWR = sp500

In [210]:
sp500

          Date  Adj Close   diff  SubReturn
0   2017-02-07    2293.08    NaN        NaN
1   2017-02-08    2294.67   1.59   1.000693
2   2017-02-09    2307.87  13.20   1.005720
3   2017-02-10    2316.10   8.23   1.003553
4   2017-02-13    2328.25  12.15   1.005219
..         ...        ...    ...        ...
748 2020-01-29    3273.40  -2.84   0.999132
749 2020-01-30    3283.66  10.26   1.003125
750 2020-01-31    3225.52 -58.14   0.981975
751 2020-02-03    3248.92  23.40   1.007202
752 2020-02-04    3297.59  48.67   1.014759

[753 rows x 4 columns]

In [211]:
#sp500TWR['TWR Step 1'] = (sp500['SubReturn'].cumprod(skipna=True, axis = 0))

In [212]:
sp500TWR.head(40)

         Date  Adj Close   diff  SubReturn  TWR Step 1
0  2017-02-07    2293.08    NaN        NaN         NaN
1  2017-02-08    2294.67   1.59   1.000693    1.000693
2  2017-02-09    2307.87  13.20   1.005720    1.006416
3  2017-02-10    2316.10   8.23   1.003553    1.009993
4  2017-02-13    2328.25  12.15   1.005219    1.015263
5  2017-02-14    2337.58   9.33   1.003991    1.019316
6  2017-02-15    2349.25  11.67   1.004968    1.024379
7  2017-02-16    2347.22  -2.03   0.999135    1.023493
8  2017-02-17    2351.16   3.94   1.001676    1.025208
9  2017-02-21    2365.38  14.22   1.006012    1.031371
10 2017-02-22    2362.82  -2.56   0.998917    1.030254
11 2017-02-23    2363.81   0.99   1.000419    1.030686
12 2017-02-24    2367.34   3.53   1.001491    1.032222
13 2017-02-27    2369.75   2.41   1.001017    1.033272
14 2017-02-28    2363.64  -6.11   0.997415    1.030601
15 2017-03-01    2395.96  32.32   1.013489    1.044503
16 2017-03-02    2381.92 -14.04   0.994106    1.038347
17 2017-03-03    2383.12   1.20   1.000504    1.038869
18 2017-03-06    2375.31  -7.81   0.996712    1.035454
19 2017-03-07    2368.39  -6.92   0.997078    1.032428
20 2017-03-08    2362.98  -5.41   0.997711    1.030065
21 2017-03-09    2364.87   1.89   1.000799    1.030888
22 2017-03-10    2372.60   7.73   1.003258    1.034246
23 2017-03-13    2373.47   0.87   1.000367    1.034625
24 2017-03-14    2365.45  -8.02   0.996610    1.031118
25 2017-03-15    2385.26  19.81   1.008305    1.039681
26 2017-03-16    2381.38  -3.88   0.998371    1.037987
27 2017-03-17    2378.25  -3.13   0.998684    1.036621
28 2017-03-20    2373.47  -4.78   0.997986    1.034534
29 2017-03-21    2344.02 -29.45   0.987436    1.021536
30 2017-03-22    2348.45   4.43   1.001886    1.023463
31 2017-03-23    2345.96  -2.49   0.998939    1.022376
32 2017-03-24    2343.98  -1.98   0.999155    1.021513
33 2017-03-27    2341.59  -2.39   0.998979    1.020470
34 2017-03-28    2358.57  16.98   1.007199    1.027817
35 2017-03-29    2361.13   2.56   1.001084    1.028931
36 2017-03-30    2368.06   6.93   1.002926    1.031942
37 2017-03-31    2362.72  -5.34   0.997740    1.029610
38 2017-04-03    2358.84  -3.88   0.998355    1.027916
39 2017-04-04    2360.16   1.32   1.000559    1.028491

In [213]:
sp500TWR['TWR'] = (sp500TWR['TWR Step 1']-1)*100

In [214]:
sp500TWR

          Date  Adj Close   diff  SubReturn  TWR Step 1        TWR
0   2017-02-07    2293.08    NaN        NaN         NaN        NaN
1   2017-02-08    2294.67   1.59   1.000693    1.000693   0.069291
2   2017-02-09    2307.87  13.20   1.005720    1.006416   0.641643
3   2017-02-10    2316.10   8.23   1.003553    1.009993   0.999262
4   2017-02-13    2328.25  12.15   1.005219    1.015263   1.526328
..         ...        ...    ...        ...         ...        ...
748 2020-01-29    3273.40  -2.84   0.999132    1.357861  35.786065
749 2020-01-30    3283.66  10.26   1.003125    1.362103  36.210337
750 2020-01-31    3225.52 -58.14   0.981975    1.337551  33.755146
751 2020-02-03    3248.92  23.40   1.007202    1.347185  34.718503
752 2020-02-04    3297.59  48.67   1.014759    1.367068  36.706849

[753 rows x 6 columns]