In [9]:
#import os
import pandas as pd
#import numpy as np
import datetime
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
#from functions import calculateTWR
from pathlib import Path

In [10]:
cwd =  Path.cwd()

folder = cwd.parent /'Data'/'IBActivity'

tables = cwd.parent /'Data'/ 'Tables'
#cwd.parent / 'Data'
folder

WindowsPath('d:/Javier/SynologyDrive/Portfolio Python 2/Data/IBActivity')

In [3]:
# Date Ranges for SP 500

start_sp = datetime.datetime(2016, 12, 31)
end_sp =  datetime.datetime(2020, 2, 7)
# The below will pull back stock SP500 Total Return.

yf.pdr_override() # <== that's all it takes :-)
sp500 = pdr.get_data_yahoo('^SP500TR', start_sp, end_sp)
#Resample by month, quarter, year ...:
sp500resample = sp500.resample('BM').last() #Uncoment one
#No resample eg daily:
#sp500resample = sp500.copy() #Uncoment one
start_sp, end_sp

[*********************100%***********************]  1 of 1 downloaded

(datetime.datetime(2016, 12, 31, 0, 0), datetime.datetime(2020, 2, 7, 0, 0))

In [4]:
df = sp500resample['Adj Close'].reset_index().copy()

In [63]:
def calculateTWR(amounts, *args):
    ###Returns TWR of amount series
    ##Period return = amount - amount previous period / amount previous period
    #TWR = (Cummulative product of Period returns +1 ) - 1
    # Times 100 as a percentage
    # #df['TWR'] = ((df['PeriodReturn']+1).cumprod()-1)*100
    #amount (series)
    ###
    twr = ((( ((amounts- amounts.shift() + args)/amounts.shift() + args))+1).cumprod()-1)*100
    return twr

In [39]:
df['TWR'] = calculateTWR(df['Adj Close'])

In [64]:
pv = pd.read_csv(tables/'tables_portfolio_value.csv')
pv['Current Total'] = pv['Current Total'].astype(float)
#pv.set_index('Date')

In [67]:
dw = pd.read_csv(tables/'tables_deposits_and_withdrawals.csv')
dw['In Base'] = dw['In Base'].astype(float)
#dw.set_index('Date', inplace=True)
dw.drop(columns= ['Currency','Settle Date','Description','Amount'], inplace=True)
dw

          Date     In Base
0   2016-12-13 -12000.0000
1   2017-03-20  -9980.4500
2   2017-04-21  -2145.4000
3   2017-05-04  -4883.0000
4   2017-09-29  -3840.6000
5   2017-12-22  -3837.3000
6   2018-02-26 -19173.0000
7   2018-08-31 -27391.0000
8   2018-10-29 -21180.9375
9   2018-10-29  22746.0000
10  2018-11-13 -22478.0094
11  2018-11-13  22580.0000
12  2018-12-19 -15000.0000
13  2018-12-28  -5000.0000
14  2019-02-19 -31852.5000
15  2019-02-19  31990.0800
16  2019-03-28 -25930.2000
17  2019-03-28  22450.0000
18  2019-03-28         NaN
19  2019-04-29    559.3500
20  2019-08-16 -12747.0000
21  2019-09-30 -15308.4000
22  2019-09-30  10899.0000

In [66]:
pv = pv.merge(dw, left_on='Date', right_on='Date', how='left')
pv.fillna(0, inplace=True)

In [60]:
pv['TWR'] = calculateTWR(pv['Current Total'],pv['In Base'])
pv.head(50)

          Date  Current Total  In Base  TWR
0   2016-11-25         0.0000      0.0  NaN
1   2016-11-28         0.0000      0.0  NaN
2   2016-11-29         0.0000      0.0  NaN
3   2016-11-30         0.0000      0.0  NaN
4   2016-12-01         0.0000      0.0  NaN
5   2016-12-02         0.0000      0.0  NaN
6   2016-12-05         0.0000      0.0  NaN
7   2016-12-06         0.0000      0.0  NaN
8   2016-12-07         0.0000      0.0  NaN
9   2016-12-08         0.0000      0.0  NaN
10  2016-12-09         0.0000      0.0  NaN
11  2016-12-12         0.0000      0.0  NaN
12  2016-12-13     12000.0000 -12000.0  inf
13  2016-12-14     12000.0000      0.0  inf
14  2016-12-15     12000.0000      0.0  inf
15  2016-12-16     12000.0000      0.0  inf
16  2016-12-19     12000.0000      0.0  inf
17  2016-12-20     12000.0000      0.0  inf
18  2016-12-21     12000.0000      0.0  inf
19  2016-12-22     12000.0000      0.0  inf
20  2016-12-23     12000.0000      0.0  inf
21  2016-12-26     12000.0000      0.0  inf
22  2016-12-27     12000.0000      0.0  inf
23  2016-12-28     12000.0000      0.0  inf
24  2016-12-29     12000.0000      0.0  inf
25  2016-12-30     12000.0000      0.0  inf
26  2017-01-02     12000.0000      0.0  inf
27  2017-01-03     12000.0000      0.0  inf
28  2017-01-04     12000.0000      0.0  inf
29  2017-01-05     12000.0000      0.0  inf
30  2017-01-06     12000.0000      0.0  inf
31  2017-01-09     12000.0000      0.0  inf
32  2017-01-10     12000.0000      0.0  inf
33  2017-01-11     12000.0000      0.0  inf
34  2017-01-12     12000.0000      0.0  inf
35  2017-01-13     12000.0000      0.0  inf
36  2017-01-16     12000.0000      0.0  inf
37  2017-01-17     12000.0000      0.0  inf
38  2017-01-18     12000.0000      0.0  inf
39  2017-01-19     12011.6000      0.0  inf
40  2017-01-20     12019.6806      0.0  inf
41  2017-01-23     12038.9206      0.0  inf
42  2017-01-24     12025.4006      0.0  inf
43  2017-01-25     12000.7006      0.0  inf
44  2017-01-26     11973.1406      0.0  inf
45  2017-01-27     11979.1206      0.0  inf
46  2017-01-30     11991.6006      0.0  inf
47  2017-01-31     12032.6806      0.0  inf
48  2017-02-01     12023.5806      0.0  inf
49  2017-02-02     12040.2206      0.0  inf