In [4]:
import os
import pandas as pd
import numpy as np
import datetime
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
from pathlib import Path

In [12]:
cwd =  Path.cwd()
cwd = cwd.parents[0]
folder = cwd /'Data'/'IBActivity'

tables = cwd / 'Data'/'Tables'
tables

WindowsPath('d:/Javier/SynologyDrive/Portfolio Python 2/Data/Tables')

In [20]:
trades = pd.read_csv(tables/'tables_Trades.csv')
trades['Date/Time'] = pd.to_datetime(trades['Date/Time'])
trades

,Unnamed: 0,Asset Category,Currency,Symbol,Date/Time,Quantity,T. Price,Proceeds,Comm/Fee,Quantity_Rsum
0,45,Stocks,USD,GLD,2017-01-19 10:56:05,20.0000,114.14000,-2282.800000,-1.000000,20.0000
1,45,Stocks,USD,GLD,2017-01-20 09:47:28,6.0000,114.46990,-686.819400,-1.000000,26.0000
2,48,Stocks,USD,SBUX,2017-02-21 09:44:20,10.0000,57.79930,-577.993000,-1.000000,10.0000
3,56,Equity and Index Options,USD,WFM 19MAY17 28.0 P,2017-03-10 09:45:39,-1.0000,0.86000,86.000000,-0.756975,-1.0000
4,59,Equity and Index Options,USD,MTCH 21APR17 17.5 P,2017-03-14 09:34:00,-1.0000,1.15000,115.000000,-1.097607,-1.0000
...,...,...,...,...,...,...,...,...,...,...
1307,491,Equity and Index Options,USD,UVXY 21JAN22 50.0 C,2019-09-23 10:19:19,-1.0000,9.40000,940.000000,-0.814358,-1.0000
1308,471,Stocks,USD,CEFL,2019-09-24 10:00:11,2.0000,14.30000,-28.600000,-1.000000,121.0000
1309,473,Stocks,USD,XOP,2019-09-24 09:30:00,100.0000,23.58000,-2358.000000,-1.000000,0.0000
1310,1013,Forex,HKD,EUR.HKD,2019-09-29 22:50:30,13998.0000,8.57250,-119997.855000,-2.000000,108339.0000
1311,1012,Forex,HKD,USD.HKD,2019-10-01 18:00:34,0.2734,7.84295,-2.144263,0.000000,60904.4444

In [36]:
min_date = min(trades['Date/Time']).date()

max_date = max(trades['Date/Time']).date()
min_date, max_date

(datetime.date(2017, 1, 19), datetime.date(2019, 10, 1))

In [37]:
# Date Ranges for SP 500 and for all tickers
# Modify these date ranges each week.

# The below will pull back stock prices from 2010 until end date specified.
# start_sp = datetime.datetime(2017, 1, 1)
# end_sp = datetime.datetime(2020, 2, 7)

start_sp = min_date
end_sp = max_date

# This variable is used for YTD performance.
end_of_last_year = datetime.datetime(2019, 12, 31)

# These are separate if for some reason want different date range than SP.
# stocks_start = datetime.datetime(2017, 1, 1)
# stocks_end = datetime.datetime(2020, 2, 7)

stocks_start = min_date
stocks_end = max_date

In [ ]:
trades =

In [86]:
yf.pdr_override() # <== that's all it takes :-)
sp500 = pdr.get_data_yahoo('^GSPC', 
                           start_sp,
                             end_sp)
    
sp500.head()

[*********************100%***********************]  1 of 1 downloaded

               Open     High      Low    Close  Adj Close      Volume
Date
2017-01-18  2269.14  2272.01  2263.35  2271.89    2271.89  3315250000
2017-01-19  2271.90  2274.33  2258.41  2263.69    2263.69  3165970000
2017-01-20  2269.96  2276.96  2265.01  2271.31    2271.31  3524970000
2017-01-23  2267.78  2271.78  2257.02  2265.20    2265.20  3152710000
2017-01-24  2267.88  2284.63  2266.68  2280.07    2280.07  3810960000

In [87]:
sp500 = sp500['Adj Close'].reset_index()

In [88]:
sp500

          Date  Adj Close
0   2017-01-18    2271.89
1   2017-01-19    2263.69
2   2017-01-20    2271.31
3   2017-01-23    2265.20
4   2017-01-24    2280.07
..         ...        ...
675 2019-09-24    2966.60
676 2019-09-25    2984.87
677 2019-09-26    2977.62
678 2019-09-27    2961.79
679 2019-09-30    2976.74

[680 rows x 2 columns]

In [89]:
sp500['diff'] = sp500['Adj Close'].diff()

In [90]:
sp500['SubReturn'] = 1 + (sp500['diff'] / sp500['Adj Close'])

In [91]:
sp500TWR = sp500

In [92]:
sp500

          Date  Adj Close   diff  SubReturn
0   2017-01-18    2271.89    NaN        NaN
1   2017-01-19    2263.69  -8.20   0.996378
2   2017-01-20    2271.31   7.62   1.003355
3   2017-01-23    2265.20  -6.11   0.997303
4   2017-01-24    2280.07  14.87   1.006522
..         ...        ...    ...        ...
675 2019-09-24    2966.60 -25.18   0.991512
676 2019-09-25    2984.87  18.27   1.006121
677 2019-09-26    2977.62  -7.25   0.997565
678 2019-09-27    2961.79 -15.83   0.994655
679 2019-09-30    2976.74  14.95   1.005022

[680 rows x 4 columns]

In [95]:
sp500TWR['TWR'] = (sp500['SubReturn'].cumprod(skipna=True, axis = 0)-1)*100

In [96]:
sp500TWR.tail()

          Date  Adj Close   diff  SubReturn        TWR
675 2019-09-24    2966.60 -25.18   0.991512  24.578767
676 2019-09-25    2984.87  18.27   1.006121  25.341298
677 2019-09-26    2977.62  -7.25   0.997565  25.036113
678 2019-09-27    2961.79 -15.83   0.994655  24.367827
679 2019-09-30    2976.74  14.95   1.005022  24.992436