In [69]:
#import os
import pandas as pd
#import numpy as np
import datetime
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
from functions import calculateTWR

In [71]:
# Date Ranges for SP 500

start_sp = datetime.datetime(2016, 12, 31)
end_sp =  datetime.datetime(2020, 2, 7)
# The below will pull back stock SP500 Total Return.

yf.pdr_override() # <== that's all it takes :-)
sp500 = pdr.get_data_yahoo('^SP500TR', start_sp, end_sp)
#Resample by month, quarter, year ...:
sp500resample = sp500.resample('BM').last() #Uncoment one
#No resample eg daily:
#sp500resample = sp500.copy() #Uncoment one
start_sp, end_sp

[*********************100%***********************]  1 of 1 downloaded

(datetime.datetime(2016, 12, 31, 0, 0), datetime.datetime(2020, 2, 7, 0, 0))

In [72]:
df = sp500resample['Adj Close'].reset_index().copy()

In [70]:
# def calculateTWR(amounts):
#     ###Returns TWR of amount series
#     ##Period return = amount - amount previous period / amount previous period
#     #TWR = (Cummulative product of Period returns +1 ) - 1
#     # Times 100 as a percentage
#     # #df['TWR'] = ((df['PeriodReturn']+1).cumprod()-1)*100
#     #amount (series)
#     ###
#     twr = ((( ((amounts- amounts.shift())/amounts.shift()))+1).cumprod()-1)*100
#     return twr

In [73]:
df['TWR'] = calculateTWR(df['Adj Close'])

In [74]:
df

         Date  Adj Close        TWR
0  2016-12-30    4278.66        NaN
1  2017-01-31    4359.81   1.896622
2  2017-02-28    4532.93   5.942748
3  2017-03-31    4538.21   6.066152
4  2017-04-28    4584.82   7.155511
5  2017-05-31    4649.34   8.663460
6  2017-06-30    4678.36   9.341710
7  2017-07-31    4774.56  11.590077
8  2017-08-31    4789.18  11.931773
9  2017-09-29    4887.97  14.240673
10 2017-10-31    5002.03  16.906461
11 2017-11-30    5155.44  20.491930
12 2017-12-29    5212.76  21.831601
13 2018-01-31    5511.21  28.806916
14 2018-02-28    5308.09  24.059635
15 2018-03-30    5173.19  20.906779
16 2018-04-30    5193.04  21.370710
17 2018-05-31    5318.10  24.293587
18 2018-06-29    5350.83  25.058546
19 2018-07-31    5549.96  29.712574
20 2018-08-31    5730.80  33.939130
21 2018-09-28    5763.42  34.701519
22 2018-10-31    5369.49  25.494664
23 2018-11-30    5478.91  28.052007
24 2018-12-31    4984.22  16.490210
25 2019-01-31    5383.63  25.825142
26 2019-02-28    5556.49  29.865191
27 2019-03-29    5664.46  32.388645
28 2019-04-30    5893.81  37.748968
29 2019-05-31    5519.27  28.995293
30 2019-06-28    5908.25  38.086457
31 2019-07-31    5993.17  40.071191
32 2019-08-30    5898.23  37.852272
33 2019-09-30    6008.59  40.431584
34 2019-10-31    6138.73  43.473190
35 2019-11-29    6361.56  48.681129
36 2019-12-31    6553.57  53.168749
37 2020-01-31    6551.00  53.108684
38 2020-02-28    6796.64  58.849733