In [1]:
import os
import pandas as pd
from pathlib import Path
# from get_all_trades import process_ca, process_data, updatePL
# from get_all_trades import calculate_PL
#from get_all_trades import convert_to_df


from functions import convert_to_df, process_ca,  process_data, process_depAndWith, process_div, process_tax, process_fees, get_all_trades, get_all_depAndWith, get_all_dividends, get_all_fees, calculate_PL, updatePL, process_pv, get_all_portfolio_value

In [2]:
cwd =  Path.cwd()

folder = cwd.parent /'Data'/'IBActivity'

tables = cwd.parent /'Data'/ 'Tables'
#cwd.parent / 'Data'
folder

WindowsPath('d:/Javier/SynologyDrive/Portfolio Python 2/Data/IBActivity')

In [3]:
files = list(folder.glob('*.csv'))

In [4]:
asset_categories_lst = ['Stocks','Equity and Index Options','Futures','Options On Futures', 'Forex']

In [5]:
a = 0
df = convert_to_df(folder,files[a])
b = process_ca(df)

while  len(b) == 0:
    a = a+1
    df = convert_to_df(folder,files[a])
    b = process_ca(df)
        
print("File Found")
print (files[a])
print(b)

File Found
d:\Javier\SynologyDrive\Portfolio Python 2\Data\IBActivity\U9233567_20170612_20170612.csv
    Asset Category Currency             Date/Time Quantity Proceeds Symbol  \
133         Stocks      EUR  2017-06-09, 20:25:00     -600        0   POPD

     Comm/Fee  T. Price
133         0         0

In [6]:
a = 0
df = convert_to_df(folder,files[a])
b = process_depAndWith(df)

while  len(b) == 0:
    a = a+1
    df = convert_to_df(folder,files[a])
    b = process_depAndWith(df)
print("File Found")
print (files[a])
print(b)

File Found
d:\Javier\SynologyDrive\Portfolio Python 2\Data\IBActivity\U9233567_20161213_20161213.csv
        Date Currency Settle Date               Description Amount
0 2016-12-13      USD  2016-12-13  Electronic Fund Transfer  12000

In [7]:
a = 0
df = convert_to_df(folder,files[a])
b = process_div(df)
while  len(b) == 0:
    a = a+1
    df = convert_to_df(folder,files[a])
    b = process_div(df)
print("File Found")
print (files[a])
print(b)

File Found
d:\Javier\SynologyDrive\Portfolio Python 2\Data\IBActivity\U9233567_20170501_20170501.csv
        Date Currency Symbol  Gross Amount
0 2017-05-01      USD     VZ         57.76

In [8]:
a = 0
df = convert_to_df(folder,files[a])
b = process_tax(df)

while  len(b) == 0:
    a = a+1
    df = convert_to_df(folder,files[a])
    b = process_tax(df)

print("File Found")
print (files[a])
print(b)

File Found
d:\Javier\SynologyDrive\Portfolio Python 2\Data\IBActivity\U9233567_20170501_20170501.csv
        Date Currency Symbol  Tax Amount
0 2017-05-01      USD     VZ      -17.33

In [9]:
a = 0
df = convert_to_df(folder,files[a])
b = process_fees(df)
while  len(b) == 0:
    a = a+1
    df = convert_to_df(folder,files[a])
    b = process_fees(df)
    
print("File Found")
print (files[a])
print(b)

File Found
d:\Javier\SynologyDrive\Portfolio Python 2\Data\IBActivity\U9233567_20170405_20170405.csv
       Subtitle Currency        Date  \
114  Other Fees      USD  2017-04-04
115  Other Fees      USD  2017-04-04

                                           Description Amount
114                          AMEX Level I for Mar 2017   -1.5
115  OPRA (US Options Exchanges) Non-Professional L...   -1.5

In [8]:
for asset_category in asset_categories_lst:
    a = 0
    df = convert_to_df(folder,files[a])
    b = process_data(df,asset_category)
    while  len(b) == 0:
        a = a+1
        df = convert_to_df(folder,files[a])
        b = process_data(df,asset_category)
    
    print("File Found")
    print (files[a])
    print(b)

File Found
d:\Javier\SynologyDrive\Portfolio Python 2\Data\IBActivity\U9233567_20170119_20170119.csv
   Asset Category Currency Symbol             Date/Time Quantity T. Price  \
45         Stocks      USD    GLD  2017-01-19, 10:56:05       20   114.14

   Proceeds Comm/Fee
45  -2282.8       -1
File Found
d:\Javier\SynologyDrive\Portfolio Python 2\Data\IBActivity\U9233567_20170310_20170310.csv
              Asset Category Currency              Symbol  \
56  Equity and Index Options      USD  WFM 19MAY17 28.0 P

               Date/Time Quantity T. Price Proceeds    Comm/Fee
56  2017-03-10, 09:45:39       -1     0.86       86  -0.7569748
File Found
d:\Javier\SynologyDrive\Portfolio Python 2\Data\IBActivity\U9233567_20171016_20171016.csv
    Asset Category Currency Symbol             Date/Time Quantity T. Price  \
171        Futures      USD   GEZ9  2017-10-13, 16:20:00        1   98.125
172        Futures      USD   GEZ9  2017-10-13, 16:20:00        1    98.25
173        Futures      USD   GEZ9  2017-10-16, 00:03:20        1    97.95

    Comm/Fee  Proceeds
171        0         0
172        0         0
173    -2.11         0
File Found
d:\Javier\SynologyDrive\Portfolio Python 2\Data\IBActivity\U9233567_20170707_20170707.csv
         Asset Category Currency             Symbol             Date/Time  \
147  Options On Futures      USD  GE 11AUG17 98.0 P  2017-07-06, 21:08:34

    Quantity T. Price Proceeds Comm/Fee
147       -1    0.105    262.5    -1.75
File Found
d:\Javier\SynologyDrive\Portfolio Python 2\Data\IBActivity\U9233567_20170320_20170320.csv
   Asset Category Currency   Symbol             Date/Time Quantity T. Price  \
79          Forex      HKD  USD.HKD  2017-03-20, 10:51:15     9000  7.76574

     Proceeds Comm/Fee
79  -69891.66       -2

In [10]:
a = 0
df = convert_to_df(folder,files[a])
b = process_pv(df)

while  len(b) == 0:
    a = a+1
    df = convert_to_df(folder,files[a])
    b = process_pv(df)

print("File Found")
print (files[a])
print(b)

File Found
d:\Javier\SynologyDrive\Portfolio Python 2\Data\IBActivity\U9233567_20161125_20161125.csv
        Date  Current Total
0 2016-11-25            0.0

In [20]:
trades = get_all_trades(folder)
trades.head()

,Asset Category,Currency,Symbol,Date/Time,Quantity,T. Price,Proceeds,Comm/Fee,Quantity_Rsum
45,Stocks,USD,GLD,2017-01-19 10:56:05,20.0,114.1400,-2282.8000,-1.000000,20.0
45,Stocks,USD,GLD,2017-01-20 09:47:28,6.0,114.4699,-686.8194,-1.000000,26.0
48,Stocks,USD,SBUX,2017-02-21 09:44:20,10.0,57.7993,-577.9930,-1.000000,10.0
56,Equity and Index Options,USD,WFM 19MAY17 28.0 P,2017-03-10 09:45:39,-1.0,0.8600,86.0000,-0.756975,-1.0
59,Equity and Index Options,USD,MTCH 21APR17 17.5 P,2017-03-14 09:34:00,-1.0,1.1500,115.0000,-1.097607,-1.0

In [21]:
divs = get_all_dividends(folder)
divs.head()

        Date Symbol Currency  Gross Amount  Tax Amount  Proceeds
0 2017-05-01     VZ      USD         57.76      -17.33     40.43
1 2017-05-26   SBUX      USD          2.50       -0.75      1.75
2 2017-06-14   IBKR      USD         10.00       -3.00      7.00
3 2017-08-01     VZ      USD         57.76      -17.33     40.43
4 2017-08-25   SBUX      USD          2.50       -0.75      1.75

In [4]:
dw = get_all_depAndWith(folder)
dw.head()

        Date Currency Settle Date               Description Amount
0 2016-12-13      USD  2016-12-13  Electronic Fund Transfer  12000
0 2017-03-20      HKD  2017-03-20  Electronic Fund Transfer  77500
0 2017-04-21      EUR  2017-04-21  Electronic Fund Transfer   2000
0 2017-05-04      HKD  2017-05-04  Electronic Fund Transfer  38000
0 2017-09-29      HKD  2017-09-29  Electronic Fund Transfer  30000

In [23]:
fees = get_all_fees(folder)
fees.head()

,Subtitle,Currency,Date,Description,Amount
114,Other Fees,USD,2017-04-04,AMEX Level I for Mar 2017,-1.5
115,Other Fees,USD,2017-04-04,OPRA (US Options Exchanges) Non-Professional L...,-1.5
129,Other Fees,USD,2017-05-03,AMEX Level I for Apr 2017,-1.5
130,Other Fees,USD,2017-05-03,BME (MEFF) Non-Professional Level I for Apr 2017,-2.45
131,Other Fees,USD,2017-05-03,NYSE Level I for Apr 2017,-1.5

In [12]:
pv = get_all_portfolio_value(folder)
pv.head()

        Date  Current Total
0 2016-11-25            0.0
0 2016-11-28            0.0
0 2016-11-29            0.0
0 2016-11-30            0.0
0 2016-12-01            0.0

In [33]:
# def get_all_trades(folder):
#     #Creates a list of all files in folder
#     filelist = os.listdir(folder)
#     #Creates a empty list to append all dataframes
#     dataframe_list = []
#     #Iterates through all files in filelist
#     asset_categories_lst = ['Stocks','Equity and Index Options','Futures','Options On Futures', 'Forex']
#     for a_file in filelist:
#         #Checks if file is a .csv
#         if a_file.lower().endswith('.csv'):
#             data = convert_to_df(a_file)
#             for i in asset_categories_lst:
#                 df = process_data(data, i)
#                 dataframe_list.append(df)
#             dataframe_list.append(process_ca(data))
#     new_trades = pd.concat(dataframe_list,sort=False )
#     dataframe = pd.concat(dataframe_list,sort=False )
#     dataframe['Proceeds'] = dataframe['Proceeds'].astype('float')
#     dataframe['Quantity'] = dataframe['Quantity'].astype('float')
#     dataframe['T. Price'] = dataframe['T. Price'].astype('float')
#     dataframe['Comm/Fee'] = dataframe['Comm/Fee'].astype('float')
#     dataframe['Date/Time'] = pd.to_datetime(dataframe['Date/Time'])
#     dataframe['Quantity_Rsum'] =  dataframe.groupby(['Symbol'])['Quantity'].transform(lambda x : x.cumsum())
#     return dataframe

In [34]:
# def convert_to_df(a_file):
#     data = pd.read_csv(folder/a_file, names=list('abcdefghijklmnopq'))
#     #data.drop(data.loc[(data.a == 'Notes/Legal Notes') | (data.a == 'Codes') ].index, inplace= True)
#     #data = (data.a != 'Codes') & (data.a != 'Notes/Legal Notes')
#     data = data.loc[~data.a.isin(['Statement','Codes', 'Notes/Legal Notes','Account Information','Change in NAV','Mark-to-Market Performance Summary','Realized & Unrealized Performance Summary','Open Positions'])]
#     return data

In [35]:
# def calculatePL (df):
#     newdf = df.loc[:,['Quantity','Quantity_Rsum','T. Price','Proceeds']]
#     newdf['prev'] = newdf['Quantity_Rsum'].shift(1 , fill_value=0)
#     #Make a new column OIDC
#     oidc_options = [
#         newdf['prev'] == 0,
#         newdf['Quantity_Rsum'] == 0,
#         newdf['prev']/newdf['Quantity_Rsum'] < 0,
#         abs(newdf['Quantity_Rsum']) > abs(newdf['prev'])
#     ]
#     oidc_choices = [
#         'Open','Close','Reversal', 'Increase'
#     ]
#     newdf['oidc'] = np.select(oidc_options, oidc_choices, default = 'Decrease')

#     newdf['index'] = np.where((newdf['oidc']== 'Open')|(newdf['oidc']=='Reversal'),1,0)

#     newdf['Increase'] = np.where((newdf['oidc'] == 'Open') | (newdf['oidc'] == 'Increase') | (newdf['oidc'] =='Reversal'),1,0)
#     newdf['ProceedsIncrease'] = newdf['Proceeds']*newdf['Increase']
#     newdf['QuantityIncrease'] = newdf['Quantity']*newdf['Increase']
#     newdf['cumsum'] = newdf['index'].cumsum()
#     newdf['TotProceedsIncrease']= newdf.groupby(['cumsum'])['ProceedsIncrease'].cumsum()
#     newdf['TotQuantityIncrease']= newdf.groupby(['cumsum'])['QuantityIncrease'].cumsum()
#     newdf['AvgOpenPrice'] = newdf['TotProceedsIncrease'] / newdf['TotQuantityIncrease'] * -1
#     newdf['AvgOpenPriceBefore'] = newdf['AvgOpenPrice'].shift(1 , fill_value=0)

#     plOptions = [
#         newdf['oidc'] == 'Open',
#         newdf['oidc'] == 'Increase',
#         newdf['oidc'] == 'Decrease',
#         newdf['oidc'] == 'Close',
#         newdf['oidc'] == 'Reversal'
#     ]
#     plChoices = [
#         # Open case P/L = 0
#         0,
#         #Increase case 
#         0,
#         #Decrease case: Average Open Price - T. Price * Quantity (* Multiplier +coommfee)
#         (newdf['AvgOpenPriceBefore'] - newdf['T. Price']) * newdf['Quantity'],
#         #Close case 
#         (newdf['AvgOpenPriceBefore'] - newdf['T. Price']) * newdf['Quantity'],
#         #Reverse case
#         (newdf['AvgOpenPriceBefore'] - newdf['T. Price']) * newdf['Quantity']
#     ]
#     newdf['PL'] = np.select(plOptions, plChoices, default = 0)
#     newdf['CumPL'] = newdf['PL'].cumsum()
#     newdf.drop(['Quantity',	'Quantity_Rsum', 'T. Price', 'Proceeds', 'prev', 'oidc', 'index','Increase','ProceedsIncrease', 'QuantityIncrease', 'cumsum', 'TotProceedsIncrease','TotQuantityIncrease','AvgOpenPriceBefore'], axis=1, inplace=True)
#     #return newdf['PL'], newdf['AvgOpenPrice'], newdf['CumPL']
#     return newdf

# def updatePL (df):
#     df.drop(['AvgOpenPrice','PL','CumPL'], axis=1, inplace = True, errors= 'ignore')
#     dfgrouped = df.groupby('Symbol')
#     dataframe_list = []
#     for name, group in dfgrouped:
#         symbol_group = dfgrouped.get_group(name)
#         profLoss = calculatePL( symbol_group)
#         symbol_group = symbol_group.join(profLoss)
#         dataframe_list.append(symbol_group)
#     new_trades = pd.concat(dataframe_list,sort=False ).sort_index()
#     return new_trades