In [ ]:
#Todo: check if tables_SymbolKey.xlsx file exist to create or update
# make .py file

In [1]:
import os
import pandas as pd
from pathlib import Path

In [4]:
current_dir = Path.cwd()

cwd =  Path.cwd()
cwd = cwd.parents[0]
folder = cwd /'data'/'ibactivity'

tables = cwd / 'data'/'tables'
tables

WindowsPath('d:/Javier/SynologyDrive/PortfolioPython/code/data/tables')

In [34]:
#Read current Symbolkey table if exists or empty dataframe
if (tables/'tables_symbol_key.xlsx').is_file():
    symbolKey = pd.read_excel(tables/'tables_symbol_key.xlsx')
else:
    symbolKey = pd.DataFrame()

In [32]:
#Creates a new dataframe with all new symbol keys
trades = pd.read_csv(tables/'tables_trades.csv') 
trades.drop(columns=['Quantity','Currency','Date/Time','T. Price','Proceeds','Comm/Fee','Quantity_Rsum'],axis= 1, inplace=True)
trades['Symbol'] = trades.Symbol.str.strip()
trades['Underliying'] = trades['Symbol'].str.split(n=1).str[0].str.strip()

trades = trades.drop_duplicates('Symbol').sort_values(by=['Symbol'])
trades = trades.reset_index(drop=True)

In [33]:
trades

               Asset Category              Symbol Underliying
0                      Stocks                0OV1        0OV1
1                      Stocks                1810        1810
2                      Stocks               1COVd       1COVd
3                      Stocks                 3P7         3P7
4                      Stocks                 700         700
..                        ...                 ...         ...
606  Equity and Index Options  XRT 21JUN19 43.0 P         XRT
607  Equity and Index Options  XRT 21JUN19 44.0 C         XRT
608  Equity and Index Options  XRT 21JUN19 44.0 P         XRT
609  Equity and Index Options  XRT 21JUN19 46.0 C         XRT
610  Equity and Index Options  XRT 21JUN19 49.0 C         XRT

[611 rows x 3 columns]

In [35]:
#Finds the new Symbols
df_diff = pd.concat([symbolKey,trades], sort=False).drop_duplicates(keep=False)
df_diff

               Asset Category              Symbol Underliying
0                      Stocks                0OV1        0OV1
1                      Stocks                1810        1810
2                      Stocks               1COVd       1COVd
3                      Stocks                 3P7         3P7
4                      Stocks                 700         700
..                        ...                 ...         ...
606  Equity and Index Options  XRT 21JUN19 43.0 P         XRT
607  Equity and Index Options  XRT 21JUN19 44.0 C         XRT
608  Equity and Index Options  XRT 21JUN19 44.0 P         XRT
609  Equity and Index Options  XRT 21JUN19 46.0 C         XRT
610  Equity and Index Options  XRT 21JUN19 49.0 C         XRT

[611 rows x 3 columns]

In [36]:
# Appends them, sort and reset index
symbolKey = symbolKey.append(df_diff)
symbolKey.sort_values(by=['Symbol'],inplace=True)
symbolKey = symbolKey.reset_index(drop=True)

In [37]:
symbolKey

               Asset Category              Symbol Underliying
0                      Stocks                0OV1        0OV1
1                      Stocks                1810        1810
2                      Stocks               1COVd       1COVd
3                      Stocks                 3P7         3P7
4                      Stocks                 700         700
..                        ...                 ...         ...
606  Equity and Index Options  XRT 21JUN19 43.0 P         XRT
607  Equity and Index Options  XRT 21JUN19 44.0 C         XRT
608  Equity and Index Options  XRT 21JUN19 44.0 P         XRT
609  Equity and Index Options  XRT 21JUN19 46.0 C         XRT
610  Equity and Index Options  XRT 21JUN19 49.0 C         XRT

[611 rows x 3 columns]

In [78]:
#Saves a new excel file
symbolKey.to_excel(current_dir/'Tables'/'tables_SymbolKey.xlsx', index=False, index_label='Symbol', columns=['Symbol','Underliying','Asset Category'])

In [38]:
def update_symbol_names():

    #Read current Symbolkey table if exists or empty dataframe
    if (tables/'tables_symbol_name.xlsx').is_file():
        symbolKey = pd.read_excel(tables/'tables_symbol_name.xlsx')
    else:
        symbolKey = pd.DataFrame()

    #Creates a new dataframe with all new symbol keys
    trades = pd.read_csv(tables/'tables_trades.csv') 
    trades.drop(columns=['Quantity','Currency','Date/Time','T. Price','Proceeds','Comm/Fee','Quantity_Rsum'],axis= 1, inplace=True)
    trades['Symbol'] = trades.Symbol.str.strip()
    trades['Underliying'] = trades['Symbol'].str.split(n=1).str[0].str.strip()
    trades = trades.drop_duplicates('Symbol').sort_values(by=['Symbol'])
    trades = trades.reset_index(drop=True)

    #Finds the new Symbols
    df_diff = pd.concat([symbolKey,trades], sort=False).drop_duplicates(keep=False)

    # Appends them, sort and reset index
    symbolKey = symbolKey.append(df_diff)
    symbolKey.sort_values(by=['Symbol'],inplace=True)
    symbolKey = symbolKey.reset_index(drop=True)

    return symbolKey

In [39]:
a = update_symbol_key()

In [40]:
a

               Asset Category              Symbol Underliying
0                      Stocks                0OV1        0OV1
1                      Stocks                1810        1810
2                      Stocks               1COVd       1COVd
3                      Stocks                 3P7         3P7
4                      Stocks                 700         700
..                        ...                 ...         ...
606  Equity and Index Options  XRT 21JUN19 43.0 P         XRT
607  Equity and Index Options  XRT 21JUN19 44.0 C         XRT
608  Equity and Index Options  XRT 21JUN19 44.0 P         XRT
609  Equity and Index Options  XRT 21JUN19 46.0 C         XRT
610  Equity and Index Options  XRT 21JUN19 49.0 C         XRT

[611 rows x 3 columns]